@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito+Sans&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
	/* background: #050014 url(./assets/images/bg.svg); */
	color: #fafafa;
	overflow-x: hidden;
	/* width: 100vh; */
}

html {
	scroll-behavior: smooth;
}

body {
	background: #050014 url(../images/bg.svg) no-repeat;
	background-size: cover;
}

.hero-text h1 {
	font-size: 64px;
	background: linear-gradient(-45deg, #3a0ca3, #4cc9f0);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	overflow-y: hidden;
}

.hero-text p {
	text-align: center;
}

.background-gradient-tl {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
}

a {
	text-decoration: none;
	}

nav {
	padding: 1em;
	text-align: center;
	margin: 0 2em;
}

/* align items vertically */
.social {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* nav ul {
	margin: 0;
	position: absolute;
	right: 0;
	height: 100vh;
	top: 0vh;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	z-index: 1;
	transform: translateX(100%);
} */

nav li {
	list-style: none;
	display: none;
}

nav a {
	text-decoration: none;
	color: white;
}

.contact-us-btn {
	display: none;
}

/* .contact {
	background: linear-gradient(305.61deg, #3a0ca3 19.4%, #4cc9f0 160.59%);
	box-shadow: 0px 10px 30px 5px rgba(61, 35, 173, 0.3);
	border-radius: 10px;
	width: 163px;
} */

/* Align the contents of the div to left side */
.hero-text {
	text-align: center;
	padding: 2em;
}

.hero-img {
	margin: 3em auto 0;
	width: 100%;
}

.hero-img img {
	width: 100%;
	
	padding-left: -1em;
}

.hero h1 {
	line-height: 1.2em;
	margin: 0.8em 0 0.3em 0;
	padding: 0;
}

.hero p {
	padding: 0;
}

.hero {
	overflow-x: hidden;
}

nav object {
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	margin: 2em 0 1em;
	font-size: 30px;
	font-weight: bold;
	background-color: #2e2e2e;
	background-image: linear-gradient(307.28deg, #3a0ca3 -15.05%, #4cc9f0 99.99%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

h4 {
	font-size: 18px;
	font-weight: medium;
}

.contact-field {
	display: flex;
	align-items: center;
}

.phone {
	padding: 0 2.5em;
}

.phone img {
	float: left;
	padding-right: 1em;
}

.phone img.phone-svg {
	padding-top: 0.6em;
}

.phone img.loc-svg {
	padding-top: 1em;
}

.contact-loc iframe {
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	width: 100%;
}

footer {
	text-align: center;
}

.logo-contact {
	width: 80%;
}

.social-media {
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: 0 auto;
	text-align: right;
	margin: 2em;
}

.social img {
	padding: 1em;
}

.social {
	display: flex;
	flex-direction:row ;
}

.socials {
	text-align: center;
}

.copyright-footer {
	margin-bottom: 2em;
	text-align: center;
	font-size: 0.7rem;
}

.card {
	background: linear-gradient(
		150.36deg,
		rgba(255, 255, 255, 0.3) 0.98%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.9;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.1),
		inset 5px 5px 10px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(40px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 15px;
	text-align: center;
	padding: 2em 1.5em;
	margin: 0 1.5em 2em;
}


.card-small {
	background: linear-gradient(
		150.36deg,
		rgba(255, 255, 255, 0.3) 0.98%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.9;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.1),
		inset 5px 5px 10px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(40px);

	border-radius: 15px;
	padding: 2em 1.5em;
	margin: 0 0 2em;
	justify-content: center;

}

.card-small p{
	text-align: center;
}

p {
	text-align: justify;
	font-size: 18px;
}

.card h3 {
	font-size: 1.4em;
	margin-bottom: 0.7em;
}

.card h4 {
	margin-bottom: 1em;
	font-weight: 400;
}

.about {
	text-align: center;
}

.abt-img {
	display: none;
}

.about p {
	text-align: justify;
	padding: 0 2em;
}

.courses {
	height: 100%;
	background: url(../images/Circle-1.svg), url(../images/Circle-2.svg);
	background-repeat: no-repeat;
	background-position: -15% 5%, -50% 95%;
}

/* align the div to center */
.modes-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.loc-svg {
	padding-bottom: 18px;
}

@media (min-width: 930px) {
	.hero-section {
		
		align-items: center;
		display: flex;
		background: url(../images/hero-bg-elements.svg);
		background-repeat: no-repeat;
		background-position: 20%;
	}


	.hero-img img {
		width: 60%;
		float: right;
		margin-left: 0;
	}

	footer {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.footer-main {
		display: flex;
		justify-content: space-between;
	}
	
	.logo-contact {
		width: 30%;
	}

	.contact-us-btn {
		display: block;
	}

	.about {
		padding-top: 3em;
		margin: 0 1em;
		margin-top: 5em;
		display: flex;
		z-index: -1;
		background: url(../images/grid.svg);
	}
	.abt-img {
		display: block;
		width: fit-content;
	}

	/* align contents of this div to left */
	.abt-text {
		flex: 1;
		text-align: justify;
	}
	.abt-text h2 {
		text-align: left;
		width: fit-content;
		margin: 0;
		padding: 0 1em;
	}

	.hero {
	}

	.hero-text {
		margin-left: 2em;
		text-align: left;
	}
	.hero-text p{
		text-align: left;
	}

	nav {
		text-align: center;
		display: flex !important;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		padding: 1em ;
	}
	nav object {
		float: left;
	}
	nav ul {
		justify-content: space-between;
		padding: 0 1em;
		width: auto;
	}
	nav li {
		display: inline;
		margin: 0 1em;
	}
	.contact-us-btn {
		border: none;
		padding: 1em;
		background: linear-gradient(305.61deg, #3a0ca3 19.4%, #4cc9f0 160.59%);
		
		border-radius: 10px;
		width: 163px;
	}
	.cards-container {
		margin: 0 1.5em;
		display: flex;
	}
	/* every card should have equal width */
	.card {
		width: 30%;
		margin: 1em;
		z-index: 1;
	}

	.card-small{
		min-width: 300px;
	}

	.card-small p {
		text-align: center;
	}

	.contact {
		padding: 0;
		margin: 5em 3em;
		display: flex;
		justify-content: space-evenly;
		background-color: #0E0038;
	}

	/* align text in vertical center */
	.contact-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.contact-loc{
		min-width: 468px;
	}

	/* set width to that of parent div */
	.contact h2{
		width: 100%;
		text-align: left;
		margin-top: 0;
	}

	.phone {
		padding: 1em 0;
	}

	.phone p{
		text-align: left;
	}

	.modes {
		margin: 5em 1.5em;
		text-align: center;
		background: url(../images/bg-gls-2.svg);
		background-repeat: no-repeat;
		background-position: 40% 100%;

	}

	.modes-div {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.modes .card{
		width: 500px;
		padding: 3em 3em;
	}

	.courses {
		height: 100%;
		background: url(../images/bg-gls-1.svg);
		background-position: center;
		background-repeat: no-repeat;
	}
	
	.loc-svg {
		padding-bottom: 18px;
	}

	.page-end {
		display: flex;
	}

	footer {
		padding: 3em;
	}

	.phno {
		padding: 0;
	}

}

@media (min-width: 1440px) {
	* {
		padding: 0 1em;
	}
}

@media (min-width: 1800px) {
	footer {
		padding: 0 15em;
	}

	nav {
		margin: 1em 15em;
	}
	section {
		padding: 0 15em;
	}

	.modes {
		margin: 5em 0;
	}

	.contact {
		margin: 5em 15em;
	}

	.mail-svg {
		padding: 18px;
	}
}