@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito+Sans&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
	/* background: #050014 url(./assets/images/bg.svg); */
	color: #fafafa;
	/* width: 100vh; */
}

body {
	background: #050014 url(../images/bg-mobile.svg);
}

.hero-text h1 {
	font-size: 64px;
	background: linear-gradient(-45deg, #3a0ca3, #4cc9f0);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	display: inline-block;
}

.hero-text p {
	text-align: center;
}

.background-gradient-tl {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
}

.hamburger {
	padding: 0 1em;
}

nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 1em;
	padding-left: -1em;
	z-index: 1;
}

/* nav ul {
	margin: 0;
	position: absolute;
	right: 0;
	height: 100vh;
	top: 0vh;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	z-index: 1;
	transform: translateX(100%);
} */

nav li {
	list-style: none;
	display: none;
}

nav a {
	text-decoration: none;
	color: white;
}

/* .contact {
	background: linear-gradient(305.61deg, #3a0ca3 19.4%, #4cc9f0 160.59%);
	box-shadow: 0px 10px 30px 5px rgba(61, 35, 173, 0.3);
	border-radius: 10px;
	width: 163px;
} */

.hero-text {
	text-align: center;
}

.hero-img img {
	width: 408px !important;
}

.hero h1 {
	line-height: 1.2em;
	margin: 0.8em 0 0.3em 0;
}

.hero {
	overflow-x: hidden;
}

nav object {
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 1em;
	font-size: 30px;
	font-weight: bold;
	background-color: #2e2e2e;
	background-image: linear-gradient(307.28deg, #3a0ca3 -15.05%, #4cc9f0 99.99%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}
.phone {
	justify-content: center;
	text-align: left;
	display: flex;
	padding: 1em;
}

.phone img {
	float: left;
	padding-right: 1em;
}

.phone img.phone-svg {
	padding-top: 0.6em;
}

.phone img.loc-svg {
	padding-top: 1em;
}

.contact-loc iframe {
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	width: 100%;
}

.page-end img.logo-contact {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
	object-fit: contain;
}

.social-media {
	justify-content: center;
	display: flex;
	padding: 5em;
	text-align: right;
}

.social-media img {
	float: left;
}

img.insta-svg {
	padding-right: 1em;
}

img.twitter-svg {
	padding-right: 0.9em;
}

img.fb-svg {
	padding-right: 1em;
	padding-left: 0.45em;
}

.page-end p.socials {
	text-align: center;
	padding: 1em;
}

p.copyright-footer {
	margin: 3em 0;
	text-align: center;
	font-size: 0.9rem;
}

.card {
	background: linear-gradient(
		150.36deg,
		rgba(255, 255, 255, 0.3) 0.98%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.9;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.1),
		inset 5px 5px 10px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(40px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 15px;
	text-align: center;
	padding: 2em 1.5em;
	margin: 2em 1.5em 0;
}

p {
	text-align: justify;
}

.card h3 {
	font-size: 1.4em;
	margin-bottom: 0.7em;
}

.card h4 {
	margin-bottom: 1em;
	font-weight: 400;
}

.about {
	text-align :center;

}
.about object {
width: 0%;

}
.about p {
	text-align: justify;
	padding: 0 1em;
}
@media (min-width:930px){
.about object {
	width:100%;
	margin-top: 2em;
}
.about {
	display:flex;
}
}
